/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.board {
  border: 1px black solid;
  width: 1000px;
  height: 800px;
  background-image:url('background21.gif');
  background-size: contain;
  background-repeat: round;
}
.player{
  background-image:url('dancingcowboydone2.gif');
}

/*.spin{
  background-image:url('giphy.gif');
  animation-name:rotation;
  animation-duration:2s;
  animation-iteration-count: infinite;
  height:800px;
  width:1000px;
}*/
@keyframes rotation {
  from {transform: rotateZ(0deg);}
  to {transform: rotate(360deg);}
}
